body{
    background-color:#FD8A7E ;
 color: rgb(155, 0, 52)
 
}
h2{
    
        font-family: "Rubik Scribble", system-ui;
        font-weight: 400;
        font-style: normal;
      
      
}
h1{
        font-family: "Rubik Scribble", system-ui;
        font-weight: 400;
        font-style: normal;
      
}